#toTop{
    position: fixed;
    bottom: 40px;
    right: 0px;
}

#loginArea{
    background-color: #aaaaaa;
    width: 100%;
    height: 65px;
    text-align: center;
    display: inline-block;
}

#loginArea h3{
    color: #22ff11;
    font-size: 8;
    margin-top: -3px;
}

#loginArea p{
    color: #0000ff;
    font-size: 18;
    margin-top: 3px;
}

#loginArea ul{
    color: green;
    text-align: right;
    margin-top: -50px;
    margin-right: 10px;
}

#loginArea ul li{
    list-style: none;
}

#navArea{
    float: left;
    background-color: #888888;
    text-align: center;
    width: 15%;
    height: auto;
}

#navArea ul{
    list-style: none;
    margin-left: -40px;
}

#navArea ul li{
    margin-bottom: 10px;
}

#navArea ul li a{
    border:2px solid #bbbbbb;
}

#adArea{
    background-color: #34ef64;
    float: right;
    width: 15%;
    height: auto;
}

#adArea ul{
    list-style: none;
}

#adArea ul li img{
    width: 90%;
    height: auto;
}

#contentArea{
    background-color: #555555;
    float: left;
    width: 70%;
    height: auto;
    text-align: center;
}

#slider{
    width: auto;
    height: auto;
}

#contentArea p{
    text-anchor: start;
}

#bottomArea{
    float: left;
    background-color: black;
    width: 100%;
}

#bottomArea ul{
    list-style: none;
    text-align: center;
    color: red;
}